table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  margin-top: 2%;
}

.pokefyc-panel {
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 2%;
}


.pokefyc-button{
  cursor: pointer;
}
.delete-button{
  color: #F44336;
}
