<div class="pokefyc-container">
  <mat-toolbar color="primary" class="pokefyc-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="pokefyc-app-name">Responsive App</h1>
  </mat-toolbar>

  <mat-sidenav-container class="pokefyc-sidenav-container">
    <mat-sidenav #snav fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="/pokemon" (click)="snav.toggle()">Pokemon</a>
        <a mat-list-item routerLink="/trainer" (click)="snav.toggle()">Trainer</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
