@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.pokefyc-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.pokefyc-is-mobile .pokefyc-toolbar {
  position: fixed;
  z-index: 2;
}

h1.pokefyc-app-name {
  margin-left: 8px;
}

.pokefyc-sidenav-container {
  flex: 1;
}

.pokefyc-is-mobile .pokefyc-sidenav-container {
  flex: 1 0 auto;
}

